/* Bike Shop CSS
================================================== 
================================================== */
html {
	font-size: 62.5%;
	background-color: #000000;
	max-width: 1200px;
	margin-left: auto;
    margin-right: auto;
    min-width: 1200px;
}
section:nth-of-type(even) {
	background-color: ffffff;
}
body {
	font: 1.6rem/1.5 "Program OT", Arial, sans-serif;
	color: #888888;
}

header {
	float: none;
	height: 49rem;
	background-image: url(./../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	margin: auto;
}
nav {
	border-top: 4px solid red;
	border-color: red;
	background-color: #444444;
	float: none;
  	position: relative;
  }
nav ul {
	float: none;
	position: relative;
	left: 35%;
  	right: 30%;
}
nav li {
	
	display: inline-block;
	text-decoration: none;
	margin: auto 5px;	
}
nav a{
	display: block;
	padding: .5rem 1rem;
	color: #ffffff;
}
nav a:hover {
	background: #000001;
}
h1 {
	float: none;
	position: relative;
	left: 12%;
	top: 20%;
}

/* Categories 3 columns section*/
#categories {
	background-color: black;
	max-width: 900px;
	margin: auto;
}
#categories article {
	width: calc(100%/3 - 4rem/3);
	float: left;
	margin: .5rem;
}
#categories img {
	float: none;
	max-width: 100%;
	max-height: 100%;
}
#categories button {
	padding: .1rem 1.2rem;
	color: #ffffff;
	background-color: #c0392b;
	border: none;
	font-size: 1.4rem;
	font-weight: bold;
}
#categories p {
	float: none;
	position: relative;
	bottom: 10.5rem;
	left: 12rem;
}

/*This starts the featured products section*/
#featured {
	margin: 5rem;
	float: left;
	position: relative;
	/* top: 50%;
	bottom: 0%; */
}
#featured article {
	padding: 1rem;
	width: calc(100%/4 - 4rem/4);
	float: left;
	overflow: hidden;
}
#featured article button {
	float: right;
}
#featured h2 {
	text-align: center;
	
}

/*This starts Member benefits section*/
#member {
	background-image: url(./../images/gears.jpg);
	max-width: 900px;
	margin: auto;
	border: solid royalblue 5px;
	float: left;
}
#member article {
	width: calc(100%/3 - 4rem/3);
	float: left;
	margin: .5rem;
	text-align: center;
}

/*This starts the footer section*/

footer {
	border: 5px solid gold;
	max-width: 1000px;
	float: left;
	margin-left: auto;
	margin-right: auto;
}
footer section {
	float: left;
	margin: 5rem;
	text-decoration: none;
}
footer section h2 {
	display: none;
}