/* Bike Shop CSS
================================================== 
================================================== */
html {
	font-size: 62.5%;
}
body {
	font: 1.6rem/1.5 "Program OT", Arial, sans-serif;
	color: #888888;
	background-color: #000000;
	max-width: 1200px;
	margin-left: auto;
    margin-right: auto;
}

header {
	height: 49rem;
	background-image: url(./../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	margin: auto;
}
nav {
	font-size: 1.4rem;
	border-top: 4px solid red;
	background-color: #444444;
  	position: relative;
  }
nav ul {
	width: 38rem;
	margin: auto;
}
nav li {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	margin: auto 5px;	
}
nav a{
	display: block;
	padding: .5rem 1rem;
	color: #ffffff;
}
nav a:hover {
	background: #000001;
}
h1 {
	float: none;
	position: relative;
	left: 12%;
	top: 20%;
}
h2 {
	color: #888888;
	font-weight: bold;
	text-align: left;
	font-size: 2.6rem;
	text-transform: uppercase;
	width: 40rem;
	margin: auto;
	font-size: 2.6rem;
}
h2 span{
	font-weight: bold;
	color: #ffffff;
}
h3 {
	text-align: center;
	font-size: 2.0rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #111111;
}
button{
	padding: .1rem 1.2rem;
	color: #ffffff;
	background-color: #c0392b;
	border: none;
	font-size: 1.4rem;
	font-weight: bold;
}

/* Categories 3 columns section*/
#categories h2{
	color: #ffffff;
	background-color: rgba(40, 39, 39, 0.755);/*approximate color*/
	position: relative;
	top: 6.8rem;
	text-align: center;
	width: 100%;
}
#categories {
	background-color: black;
	max-width: 900px;
	margin: auto;
}
#categories article {
	width: calc(100%/3 - 4rem/3);
	float: left;
	margin: .5rem;
}
#categories::after{
	content: "";
	display: block;
	clear: both;
}
#categories img {
	max-width: 100%;
	max-height: 100%;
}
#categories button {
	padding: .1rem 1.2rem;
	color: #ffffff;
	background-color: #c0392b;
	border: none;
	font-size: 1.4rem;
	font-weight: bold;
}
#categories p {
	float: none;
	position: relative;
	bottom: 9.5rem;
	text-align: center;
}

/*This starts the featured products section*/
#featured {
	max-width: 1200px;
	background-color: #FFFFFF;
}
#featured::after{
	content: "";
	display: block;
	clear: both;
}
#featured img{
	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(100%); /* FF 35+ */
}
#featured img:hover{
	transition: filter .5s ease-in-out;
  	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(0%); /* FF 35+ */
}
#featured article {
	padding: 5rem 1rem 1rem 2rem;
	width: calc(100%/4 - 4rem/4);
	height: 45rem;
	float: left;
	overflow: hidden;
}
#featured article button {
	float: right;
}
#featured article p:nth-of-type(3){
	font-weight: bold;
}
#featured article p span{
	text-decoration: line-through;
}
#featured h2 {
	text-align: center;
	text-decoration: none;
}

/*This starts Member benefits section*/
#member {
	background-image: url(./../images/gears.jpg);
	background-blend-mode: soft-light;
	background-position: 20%;
	background-size: cover;
	background-color: #444444;
	height: 40rem;
	max-width: 1200px;
	margin: auto;
}
#member strong{
	color: #FFFFFF;
	display: block;
}
#member ul {
	max-width: 1200px;
	text-align: center;
	color: #888888;
}
#member li h3{
	color: #FFFFFF;
}
#member li {
	box-sizing: border-box;
	width: calc(100%/3);
	float: left;
	padding-top: 12rem;
	padding-bottom: .5rem;
	list-style-type: none;
	text-align: center;
}
.shipping {
	box-sizing: border-box;
	background-image: url("./../images/truck.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: top;
}
.tune {
	box-sizing: border-box;
	background-image: url("./../images/wrench.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: top;
}
.letter {
	box-sizing: border-box;
	background-image: url("./../images/envelope.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: top;
}
#member::after{
	content: "";
	display: block;
	clear: both;
}

/*This starts the footer section*/

footer {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
}
footer h2{
	color: #FFFFFF;
	text-align: right;
	width: 100%;
	padding-left: 6rem;
}
footer section {
	padding: 5rem 1rem 1rem 2rem;
	width: calc(100%/4 - 4rem/4);
	float: left;
}
footer section h2:nth-of-type(2){
	text-indent: -9999px;
}
#store a{
	text-transform: uppercase;
	color: #FFFFFF;
}
#news li:nth-of-type(1) a{
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 1.6rem;
}
#news li a{
	color: #888888;
	font-size: 1.2rem;
}
#help li a{
	color: #888888;
	font-size: 1.2rem;
}
#help li:nth-of-type(1) a{
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 1.6rem;
}
footer .social {
	float: right;
}
footer .social li:hover{
	opacity: 100%;
}
footer .social li{
	background-image: url(./../images/social.png);
	background-repeat: no-repeat;
	display: inline-block;
	opacity: 25%;
}
footer .social a{
	overflow: hidden;
	width: 3rem;
	height: 3rem;
	text-indent: -9999px;
	display: block;
}
footer .social li:nth-of-type(1){
	background-position: 0px 0px;
}
footer .social li:nth-of-type(2){
	background-position: -3rem 0px;
}
footer .social li:nth-of-type(3){
	background-position: -6rem 0px;
}
footer .social li:nth-of-type(4){
	background-position: -9rem 0px;
}
footer .social li:nth-of-type(5){
	background-position: -12rem 0px;
}
#copyright {
	display: block;
	color: grey;
	max-width: 1200px;
	border-top: 4px solid rgba(169,169,169,0.35);
	width: calc(100%/1);
}
#copyright ul li{
	display: inline-block;
	padding-left: 2rem;
}
#copyright ul:nth-of-type(2){
	float: right;
	
}
#copyright ul:nth-of-type(1){
	float: left;
}
#copyright ul{
	width: calc(100%/2-1rem);
}
#copyright ul li:nth-of-type(1){
	padding: 0%;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
This starts the club events page section*/
#events {
	float: none;
	background-color: #FFFFFF;
}
#events img {
	float: none;
	width: 78rem;
	height: 52rem;
	margin-left: 2rem;
}
#events article {
	width: 82rem;
}
#past {
	float: right;
	margin-top: 7rem;
}
#past ul {
	margin-left: 2rem;
}
#past article h2 {
	text-align: center;
}
#past article:nth-of-type(2) {
	width: 38rem;
	border-top: 2px solid rgba(111, 111, 111, 0.35);
}
#past article:nth-of-type(1) li{
	display: inline-block;
}
#past ul {
	padding-bottom: 2rem;
}
#past h2{
	text-align: left;
}
#past input {
	width: 24rem;
	border-top-style: solid;
  	border-right-style: solid;
  	border-left-style: solid;
  	border-bottom-style: solid;
  	background-color: rgba(111, 111, 111, 0.27);
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
This starts the shop page section*/
#featuredProduct{
	display: inline-block;
	margin: 1rem 0rem;
}
#featuredProduct img {
	max-width: 40rem;
	max-height: 40rem;
}
#featuredProduct h2{
	text-align: center;
	width: 100%;
}
#featuredProduct article{
	max-width: 30rem;
	height: 30rem;
	margin: auto;
	float: left;
}
#search {
	float: right;
	max-width: 24rem;
	margin-top: 2rem;
}
#search h3 {
	color: #FFFFFF;
}
#search img {
	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(100%); /* FF 35+ */
}
#search img:hover{
	transition: filter .5s ease-in-out;
  	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(0%); /* FF 35+ */
}
#search article {
	margin: 1rem 0rem;
}
#search input {
	width: 16rem;
	margin-right: .9rem;
}
#acc {
	display: inline-block;
	max-width: 900px;
	background-color: #FFFFFF;
}
#acc article {
	width: calc(100%/3 - 4rem/3);
	float: left;
	margin: .5rem;
}
#acc::after{
	content: "";
	display: block;
	clear: both;
}
#acc img{
	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(100%); /* FF 35+ */
}
#acc img:hover{
	transition: filter .5s ease-in-out;
  	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  	filter: grayscale(0%); /* FF 35+ */
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
This starts the contact page section*/
#map {
	display: block;
	margin: auto;
	max-width: 50rem;
}
#map img{
	height: 30rem;
}
#contact {
	max-width: 44rem;
}
form #name{
	width: 18rem;
	margin: 1rem 1rem 0rem 0rem;
}
form #email {
	width: 18rem;
	margin: 1rem 1rem 0rem 0rem;
}
form #phone {
	width: 18rem;
	margin: 1rem 1rem 1rem 0rem;
}
form #subject {
	width: 18rem;
	margin: 1rem 1rem 1rem 0rem;
}
#details {
	float: right;
	max-width: 34rem;
	position: relative;
	bottom: 24rem;
	display: block;
	max-height: 0rem;
}
details p {
	padding: 1rem;
}