/* Bike Shop CSS
================================================== 
================================================== */
html {
	font-size: 62.5%;
	background-color: #000000;
	max-width: 1100px;
	margin-left: auto;
    margin-right: auto;
    min-width: 1200px;
}

body {
	font: 1.6rem/1.5 "Program OT", Arial, sans-serif;
	color: #888888;
}

header {
	float: none;
	height: 49rem;
	background-image: url(./../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	margin: auto;
}
nav {
	border-top: 4px solid red;
	border-color: red;
	background-color: #444444;
	float: none;
  	position: relative;
  }
nav ul {
	float: none;
	position: relative;
	left: 35%;
  	right: 30%;
}
nav li {
	
	display: inline-block;
	text-decoration: none;
	margin: auto 5px;	
}
nav a{
	display: block;
	padding: .5rem 1rem;
	color: #ffffff;
}
nav a:hover {
	background: #000001;
}
h1 {
	float: none;
	position: relative;
	left: 12%;
	top: 20%;
}

/* Categories 3 columns section*/
#categories {
	max-width: 1000px;
	margin: auto;
}
#categories article {
	width: calc(100%/3 - 4rem/3);
	float: none ;
	display: inline-block;
	margin: .5rem;
}
#categories img {
	float: none;
	max-width: 100%;
	max-height: 100%;
}
#categories button {
	padding: .1rem 1.2rem;
	color: #ffffff;
	background-color: #c0392b;
	border: none;
	font-size: 1.4rem;
	font-weight: bold;
}
#categories p {
	float: none;
	position: relative;
	bottom: 10.5rem;
	left: 12rem;
}