/*This area will deal with the entire content outside of headers and footers*/
main {
    max-width: 120rem;
    margin: 0 auto;
    height: 750px;
}
main nav {
    background-color: black;
}
main nav a {
    color: #f3501e;
}
main nav ul {
    margin: auto;
    display: block;
}
main nav ul li {
    display: inline-block;
    padding-right: 1rem;
}
main h2 {
    color: #ffffff;
    font-size: 4rem;
    text-transform: uppercase;
}
/*Clear fix*/
main > section ::after {
    content: "";
    display: block;
    clear: both;
}
/*Gave the forw a width and height to make it look correct*/
form {
    width: 500px;
    height: 150px;
}
form::after {
    content: "";
    display: block;
    clear: both;
}
#form-area {
    width: 700px;
    height: 200px;
    float: right;
}
/*Make text areas all dark*/
#form-area input{
    background-color: rgba(15, 15, 15, .5);
    border: none;
}
textarea {
    background-color: rgba(15, 15, 15, .5);
    border: none;
}
/*Style button to be that red/orange color and remove the border*/
button {
    color: #ffffff;
    background-color: orangered;
    border:  none;
}
#info {
    display: block;
    width: 400px;
    float: left;
}
#info ::after {
    content: "";
    display: block;
    clear: both;
}
/*Only transform the first paragraph to uppercase and orange/red color*/
#info p:nth-of-type(1) {
    text-transform: uppercase;
    color: orangered;
}
address {
    color: rgb(125, 143, 149);
}
address a {
    color: orangered;
}
address a:hover {
    color: white;
}
/*Give the image tag dimension and center it*/
img:nth-of-type(2) {
    display: block;
    width: 120rem;
    margin: 0 auto;
    text-align: center;
}
/*Make the heading 2's the same size in these two sections.*/
#info h2 {
    font-size: 4rem;
}
#form-area h2 {
    font-size: 4rem;
}